@import './styles/variables.css';
@import './styles/layout.css';
@import './styles/components/data-input.css';
@import './styles/components/options.css';
@import './styles/components/preview.css';
@import './styles/components/buttons.css';
@import './styles/components/toast.css';
@import './styles/components/controls.css';
@import './styles/components/highlight.css';
@import './styles/components/stats.css';
@import './styles/components/split-visual.css';
